@{
    ViewBag.Title = "Careers";
}


<div id="mainCareers">
    <div id="bkgrnd" style="border-bottom:1px solid;">
<span><p>You Think You've Got What It Takes?</p></span>
        <div id="1car">
       
</div>
    <div id="2car">
     
    </div>
        <div id="2.5car" style="margin:380px 0 3px 15px;font-size:x-large;font-weight:bold;color:ghostwhite;">
<p style="font-size:xx-large;">We Only Look for 3 Things...</p>
    <ul style="list-style:none;">
        <li><p style="font-size:x-large;">PWN Some Noobs</p></li>
        <li><p style="font-size:x-large;">Have High Pain Tolerance</p></li>
        <li><p style="font-size:x-large;">Take Pleasure In the Results</p></li>
    </ul>
        </div>
       </div> 
    <div id="3car">
    <span>And This Fourth Thing:</span>
        <p>If you want a job, then read this, go to our contact page, fill out a contact form, set the Project Description as simply PWN and in the Comments section explain in your own words this passage with why it is so important for business and how you plan to apply it. Thanks, we'll see you there.</p>
        <span>1914 Translation by H. Rackham of Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</span>
        <p>"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains."</p>

    </div>
</div>