@{
    ViewBag.Title = "MercTec";
}

<div id="mainHome">
    <div id="1h 2h">
        <img style="margin:0;paddig:0;width:100%;height:625px;border-bottom:1px solid;" src="../../Content/Images/MercTecSoldier.png" alt="" />
    </div>
    <div id="3h">
        
    </div>
    <div class="thirds">
        <h2>PWN</h2>
        <p>As the name suggests, it is a primary concern. You won't find noobs in any squad or platoon of ours. Every single soldier has been fully trained and debriefed for every mission in which he is deployed. Otherwise, he is simply not deployable. That takes the burden off of you. Be ready and prepare yourself to get to work and get the job done smoothly, efficiently and tactically with MercTec.</p>
   <p></p>
         </div>
    <div class="thirds">
        <h2>Pain</h2>
        <p>We endure all, to secure and protect those who have come into our confidence. We persevere through any misgiving or any mistake either within our own self-organizing units or for our delegates. This is all to avoid greater obstacles and greater casualties which may present themselves if necessary risks aren't taken or mitigated. And yes, we leave no man behind. Every soldier is accountable for their contribution to the completion of the mission.</p>
    </div>
    <div class="thirds">
        <h2>Pleasure</h2>
        <p>You aren't looking at your normal dev's. Each and every man, woman and sometimes very brilliant child was born to do this job. We thrive on the challenges that this work provides. Every soldier at MercTec brings a unique nuance to our development but we all have this one thing in common: we love it. </p>
    
    </div>
</div>

