@{
    ViewBag.Title = "Projects";
}

<div id="mainWork">
<h2>Current Projects</h2>
    <div class="fourths">
        <img src="../../Content/Images/GetinTouchProject.png" alt="" />
        <p>Get In Touch With Your Tools</p>
    </div>
    <div class="fourths">
        <img src="../../Content/Images/TeamProject.png" alt="" />
        <p>Team Assimilation</p>
    </div>
    <div class="fourths">
        <img src="../../Content/Images/HighTechProject.png" alt="" />
        <p>Bust Out the Tec!</p>
    </div>
    <div class="fourths">
        <img src="../../Content/Images/CompleteProject.png" alt="" />
        <p>Integrate Globally</p>
    </div>
    
</div>